.header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color: #000000 !important;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-link.active {
  background-color: #000;
  color: #fff !important;
} 